@keyframes pop {
  0% {transform: scale(1);}
  10% {transform: scale(2);}
  100% {transform: scale(1); filter: blur(15px)}
}

@keyframes wup {
  0% {transform: scale(1);}
  50% {transform: scale(0.97);}
  100% {transform: scale(1);}
}

/*###########################*/

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: rgb(54, 54, 54);
}

.title {
  background-color: #262626;
  border-radius: 0.7em;
}

.title h1 {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 110%;
}

#button {
  width: 100%;
  background-color: #4c6533;
  border-radius: 0.2em;
  border-color: #75b635;
  color: rgb(255, 255, 255);
  padding: 0.5em;
  font-size: 300%;
  border-style: solid;
  text-size-adjust: none;
}

#button p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 200%;
  text-size-adjust: none;
  background-color: #26262600;
}

#button:active p {
  animation: pop 0.2s;
  animation-fill-mode: forwards;
}

#button:hover {
  animation: hover 1s;
  background-color: #3d5227;
  border-color: #6a8c43;
}

#button:active {
  animation: wup 0.1s;
}