@keyframes pop {
  0% { font-size: 300%; height:7em; }
  25% { font-size: 700%; height: 2em; }
  100% { font-size: 300%; height: 7em; }
}

@-webkit-keyframes pop {
  0% { font-size: 300%; height:7em; }
  25% { font-size: 700%; height: 2em; }
  100% { font-size: 300%; height: 7em; }
}

@-moz-keyframes pop {
  0% { font-size: 300%; height:7em; }
  25% { font-size: 700%; height: 2em; }
  100% { font-size: 300%; height: 7em; }
}

/*###########################*/

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: rgb(54, 54, 54);
}

.title {
  background-color: #262626;
  border-radius: 0.7em;
}

.title h1 {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 110%;
}

#button {
  resize: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
  height: 7em;
  background-color: #4c6533;
  border-radius: 0.2em;
  border-color: #75b635;
  color: rgb(255, 255, 255);
  padding: 0.5em;
  font-size: 300%;
  border-style: solid;
}

#button:hover {
  animation: pop 1s;
  background-color: #40522c;
}

#button:active {
  background-color: #303e20;
  transform: scale(1.02);
}

#button.animated { 
  -moz-animation: pop 1s;
  -webkit-animation: pop 1s;
  animation: pop 1s;
}
